<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shelf_itself</title>
    <style>
        .header { background: #D5BAE4; }
        .layout { position: relative;}
        .layout DIV { position: absolute; border: 4px solid black; }
        .col1 { background: #C7E3E4; left: 0%; right: 66%;  height: 90vh; }
        .col2 { background: #E0D2C7; left: 33%; right: 33%; height: 90vh;}
        .col3 { background: #ECD5DE; left: 66%; right: 0%;  height: 90vh;  }

    </style>
</head>
<body>
  <div class="header">Шапка сайта</div>
  <div class="layout">

        <div class="col1">
            <div style="width: 99%" align="center"><h2>to read</h2>
                            <div  style="width: 99%">test</div>

            </div>
        </div>

        <div class="col2">
            <div style="width: 99%" align="center"><h2>in progress</h2>
                <div  style="width: 99%">test</div>
            </div>
        </div>

        <div class="col3">
            <div style="width: 99%" align="center"><h2>done</h2>
                <div  style="width: 99%">test</div>

            </div>
        </div>
  </div>
</body>
</html>
